body {
  background: lightgrey;
  font-family: "Open Sans", sans-serif;
  padding: 30px;
  color: black;
  margin: 0 auto;
  width: 100vw;
}

header {
  background-image: url('http://www.mrpsocialstudies.com/uploads/2/6/3/6/26364497/8504630_orig.jpg');
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 1px 1px 1px black;
  -moz-box-shadow: 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px black;
}

nav {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

.overlay {
  background-color: rgba(0,0,0,.3);
  padding-bottom: 20px
}

h2 {
  text-align: center;
  color: black;
  font-size: 40px
}

h4:hover {
  color: orange;
  margin-top: 0;
}

.jumbotron {
  text-align: center;
  font-family: "Encoded Sans", sans-serif;
  font-size: 40px;
  text-transform: lowercase;
  margin: 40px
}

.jumbotron h1 {
  margin: 0 auto;
  padding-bottom: 60px;
  font-weight: bold;
  font-size: 130px;
  letter-spacing: .1em;
  color: darkslategrey;
  opacity: .9
}

.btn-sm {
  border: none;
  background-color: rgba(255,255,255,.8);
}

.btn-danger {
  font-weight: bold;
  font-size: 12px;
}

li {
  font-family: "Encoded Sans", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: darkslategrey;
  font-weight: lighter;
  font-size: 20px;
}

ul {
  padding-left: 0;
  max-width: 90%;
  margin: 0;
  BORDER: 2px solid black;
  margin-bottom: 10px;
  padding: 0 20px;
  background: rgba(255,255,255,8)
}

p {
  font-size: 14px;
  color: black;
}

h5 {
  font-size: 16px
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: darkslategrey
}

a:hover {
  color: orange
}

.container {
  width: 40%;
  float: left;
  margin: 2.5%;
  display: inline;
  padding: 10px;

}

.container-fluid {
  width: 40%;
  float: left;
  margin: 2.5%;
  display: inline;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}


footer {
  display: none
}

html, body, #map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map {
  height: 50%;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black;
    position:sticky;
}

.form-style {
  margin: 20px auto;
}

.form-style label{
    display: block;
    padding-bottom: 5px;
    margin: 0;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 3px;
    outline: none;
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
    background: rgba(255,255,255,.6)
}

input:hover {
    background: palegoldenrod;
}

button {
  border-radius: 3px;
  background-color: rgba(255,255,255,.6);
  font-size: 14px;
  padding: 5px 8px;
}

button:hover {
  background: palegoldenrod;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

#register {
  text-align: center;
  margin: 0 auto;
}
