body {
  background: whitesmoke;
  font-family: "Open Sans", sans-serif;
  padding: 20px
}

header {
  background-image: url('http://www.mrpsocialstudies.com/uploads/2/6/3/6/26364497/8504630_orig.jpg');
  border-bottom: 2px solid black;
  margin-bottom: 40px
}

nav {
  text-align: right;
  padding-top: 20px;
}

.overlay {
  background-color: rgba(0,0,0,.3);
  padding-bottom: 20px
}

#register {
  display: none
}

h2 {
  text-align: center;
}

h4:hover {
  color: orange;
}

.jumbotron {
  text-align: center;
  font-family: "Encoded Sans", sans-serif;
  font-size: 40px;
  text-transform: lowercase;
  margin: 40px
}

.jumbotron h1 {
  margin: 0 auto;
  padding-bottom: 60px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #195324;
}

.btn-sm {
  border: none;
  background-color: whitesmoke;
}

.btn-danger {
  font-weight: bold;
  font-size: 12px;
}

li {
  font-family: "Encoded Sans", sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #195324;
}

ul {
  padding-left: 0;
  max-width: 90%;
}

p {
  font-size: 12px;
  color: black;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  color: orange
}

.container {
  width: 40%;
  float: left;
  margin: 2.5%;
  display: inline;
}

.container-fluid {
  width: 90%;
  margin: 0% 2.5%;
  display: block;
  float: left;
}

footer {
  width: 120%;
  margin: 5% 2.5%;
font-family: "Encoded Sans", sans-serif;
  display: block;
  float: left;


}

html, body, #map_canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map {
  height: 50%;
    border: 2px solid black;
}

.form-style {
  margin: 20px auto;
}

.form-style label{
    display: block;
    padding-bottom: 5px;
    margin: 0;

}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    /*box-shadow: 1px 1px 1px black;
    -moz-box-shadow: 1px 1px 1px black;
    -webkit-box-shadow: 1px 1px 1px black;*/
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 3px;
    outline: none;
}


input:hover {
    background: lightgrey;
}
